
{% extends 'base/home.html' %}

{% load staticfiles %}

{% block dataTable %}
<script>
        $(document).ready( function () {
            $('#perfil-detail-listar').DataTable({
                responsive: true,
                autoWidth: false,
                language:{
                    url: "{% static 'lib/datatables-1.10.20/spanish.txt' %}"
                }
            });
        } );
</script>
{%  endblock %}

{% block contenturl %}
<li class="breadcrumb-item"><a href="{% url 'perfil_crear' %}">Registrar Usuario</a></li>
<li class="breadcrumb-item"><a href="{% url 'perfil_listar' %}">Usuarios Activos</a></li>
<li class="breadcrumb-item"><a href="{% url 'perfil_listar_all' %}">Acciones</a></li>
{% endblock %}

{% block content %}


<section class="content">

    <div class="container-fluid">
        
      <div class="row">
          
        <!-- left column -->
        <div class="col-md-12" style="margin: 0 auto;">
            <div class="card-footer clearfix">
            
            <p></p>
          
            <!-- general form elements -->
            <div class="card card-primary" >
                
              <div class="card-header" style="background-color:#00588e ">
            
              </div>
              <!-- /.card-header -->
              <!-- form start -->

                <br>


              <div class="col-md-12">
                <!-- Widget: user widget style 1 -->
                <div class="card card-widget widget-user shadow-lg">
                  <!-- Add the bg color to the header using any of the bg-* classes -->
                  <div class="widget-user-header bg-info color-danger"
                       style="background: url(../../../static/lib/adminlte-3.1.0/img/photo1.png) center center;">
                    <h3 class="widget-user-username text-right  "  > <h2>Secretaria</h2> <p></p> <h2> <b> {{ object.nombre }} </b></h2>  </h3>
                    <h5 class="widget-user-desc text-right"><p></p> <p></p> </h5>
                  </div>
                  <div class="widget-user-image">
                      <br>
                    <img class="img-circle" src="{% static 'img/gober.png' %}" alt="User Avatar">
                  </div>
                  <div class="card-footer ">
                    <div class="row">
                      <div class="col-sm-4 border-right">
                        <div class="description-block">
                          <h5 class="description-header">direccion</h5>
                          <span class="description-text">{{ object.direccion }}</span>
                        </div>
                        <!-- /.description-block -->
                      </div>
                      <!-- /.col -->
                      <div class="col-sm-4 border-right">
                        <div class="description-block">
                          <h5 class="description-header"> detalle</h5>
                          <span class="description-text">{{ object.detalle }}</span>
                        </div>
                        <!-- /.description-block -->
                      </div>
                      <!-- /.col -->
                      <div class="col-sm-4">
                        <div class="description-block">
                          <h5 class="description-header">detalle</h5>
                          <span class="description-text">{{ object.detalle }}</span>
                        </div>
                        <!-- /.description-block -->
                      </div>
                      <!-- /.col -->
                    </div>
                    <!-- /.row -->
                  </div>
                </div>
                <!-- /.widget-user -->
              </div>

              <div class="row parter" style="margin: 0 auto; align-content: center; justify-content: center;" >
                <div class="col-lg-4 ">
                  <div class="input-group">
                  <div class="col-sm-4 border-right" >
                    <a class="btn btn-primary"  style="background-color:#00588e "  href="{% url 'infraestructuraSecretaria_crear_dos' object.id %}"> <b>Agregar Secretaria dos</b> </a>
                    <button class="btn btn-primary"  style="background-color:#00588e "  onclick=" abrir_modal_secretaria('{% url 'infraestructuraSecretaria_crear'  object.id %}')"> <b>Agregar Secreataria modal </b> </button>
                  </div>
                  </div>
              
                </div>
               <p></p>
                    <div class="col-lg-4">
                      <div class="input-group">
                        <div class="col-sm-4 border-right" >
                        <button class="btn btn-primary"  style="background-color:#00588e "  onclick=" abrir_modal_secretariacrear('{% url 'secretaria_crear' %}')"> <b>Crear Secretaria</b> </button>
                        </div>
                      </div>
                    </div>
                    
                <div class="col-lg-4">
                  <div class="input-group">
                    <div class="col-sm-4 border-right" >
                      <button class="btn btn-primary"  style="background-color:#00588e "  onclick=" abrir_modal_area('{% url 'red_crear' %}')"> <b>Agregar Area</b> </button>
                    </div>
                    </div>
                    </div>

                
                    

              </div>
     
<br>
              <div class="row parter" style="margin: 0 auto; align-content: center; justify-content: center;" >
           

                <div class="col-lg-4 ">
                      <div class="input-group">
                      <div class="col-sm-4 border-right" >
                        <a class="btn btn-primary"  style="background-color:#00588e "  href="{% url 'infraestructuraUnidad_crear_dos' object.id %}"> <b>Agregar unidad dos</b> </a>
                        <button class="btn btn-primary"  style="background-color:#00588e "  onclick=" abrir_modal_unidad('{% url 'infraestructuraUnidad_crear'  object.id %}')"> <b>Agregar unidad modal </b> </button>
                      </div>
                      </div>
                  
                </div>
                <p></p>
                    <div class="col-lg-4">
                      <div class="input-group">
                        <div class="col-sm-4 border-right" >
                        <button class="btn btn-primary"  style="background-color:#00588e "  onclick=" abrir_modal_unidadcrear('{% url 'unidad_crear' %}')"> <b>Crear unidad</b> </button>
                        </div>
                      </div>
                    </div>
                    

              </div>




                 
            <div style="clear:both"></div>






      
              <div class="col-12 col-sm-12">
                <div class="card card-primary card-tabs">
                  <div class="card-header p-0 pt-1">
                    <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">Secretaria</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill" href="#custom-tabs-one-profile" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">Unidad</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-one-messages-tab" data-toggle="pill" href="#custom-tabs-one-messages" role="tab" aria-controls="custom-tabs-one-messages" aria-selected="false">Area</a>
                      </li>
                     
                      
                    </ul>
                  </div>
                  <div class="card-body">
                    <div class="tab-content" id="custom-tabs-one-tabContent">
                      <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                         
                        <form>
                          <div class="card-body">
                            <table class="table table-bordered table-striped" id="perfil-detail-listar">
                                <thead>
                                    <tr>
                                        <td><b>#</b> </td>
                                        <td><b>infraestructura</b></td>
                                        <td><b>secretaria</b></td>
                                        <td><b>FechaInicio</b></td>
                                        <td><b>Acciones</b></td>
                                        <td><b>Asignar IP</b></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <h1>  </h1>
                                    {% if secretaria_list %}
              
                                    {% for item in secretaria_list %}
                                    <tr>
                                        <td>{{ item.id }}</td>
                                        <td>{{ item.infraestructura }}</td>
                                        <td>{{ item.secretaria}}</td>
                                        <td>{{ item.FechaInicio }}</td>
                                      
                                       
                                        <td>
                                            
                                        </td>
                                        <td>
                                           
                           
                                        </td>
                                    
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                      
                                    {% endif %}            
                                </tbody>
                            </table>
              
              
                        </div>
                        <!-- /.card-body -->
              
                  </form>
              
                      </div>
                      <div class="tab-pane fade" id="custom-tabs-one-profile" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">
                        <form>
                          <div class="card-body">
                            <table class="table table-bordered table-striped" id="perfil-detail-listar">
                                <thead>
                                    <tr>
                                        <td><b>#</b> </td>
                                        <td><b>infraestructura</b></td>
                                        <td><b>unidad</b></td>
                                        <td><b>FechaInicio</b></td>
                                        <td><b>Acciones</b></td>
                                        <td><b>Asignar IP</b></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <h1>  </h1>
                                    {% if secretaria_list %}
              
                                    {% for itemu in secretaria_list %}
                                    <tr>
                                        <td>{{ itemu.id }}</td>
                                        <td>{{ itemu.infraestructura }}</td>
                                        <td>{{ itemu.unidad}}</td>
                                        <td>{{ itemu.FechaInicio }}</td>
                                      
                                       
                                        <td>
                                           
                                        </td>
                                        <td>
                                           
                           
                                        </td>
                                    
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                      
                                    {% endif %}            
                                </tbody>
                            </table>
              
              
                        </div>
                        <!-- /.card-body -->
              
                  </form>
                  
                      </div>
                      <div class="tab-pane fade" id="custom-tabs-one-messages" role="tabpanel" aria-labelledby="custom-tabs-one-messages-tab">
              
                        
                      </div>
                
                    </div>
                  </div>
                  <!-- /.card -->
                </div>
              </div>

      


           
<div class="modal fade" id="secretaria" role="dialog"></div>
<div class="modal fade" id="secretariacrear" role="dialog"></div>

<div class="modal fade" id="unidad" role="dialog"></div>
<div class="modal fade" id="unidadcrear" role="dialog"></div>
<div class="modal fade" id="area" role="dialog"></div>





    <!-- /.card-body -->
    <div class="card-footer clearfix">
       

        <ul class="pager pagination pagination-sm m-0 float-right">
            <li class="page-item">{% if page_obj.has_previous %}<a class="page-link" href="?page={{ page_obj.previous_page_number}}"><h6>Previus</h6> </a>{% endif %}</li>
            <li class="page-item">{% if page_obj.has_next %}<a class="page-link" href="?page={{ page_obj.next_page_number}}"><h6>Next</h6> </a>{% endif %}</li>
          </ul>
      </div>
</div>
</div>
</div>
</div>
</div>


</section>


{% endblock %}

{% block extrajs %}
<script type="text/javascript">
  var $=jQuery.noConflict();
    function abrir_modal_secretaria(url){
      $('#secretaria').load(url,function(){
          $(this).modal('show');
      });
    }

</script>

<script type="text/javascript">
  var $=jQuery.noConflict();
    function abrir_modal_secretariacrear(url){
      $('#secretariacrear').load(url,function(){
          $(this).modal('show');
      });
    }

</script>



<script type="text/javascript">
  var $=jQuery.noConflict();
    function abrir_modal_unidad(url){
      $('#unidad').load(url,function(){
          $(this).modal('show');
      });
    }

</script>

<script type="text/javascript">
  var $=jQuery.noConflict();
    function abrir_modal_unidadcrear(url){
      $('#unidadcrear').load(url,function(){
          $(this).modal('show');
      });
    }

</script>




<script type="text/javascript">
  var $=jQuery.noConflict();
    function abrir_modal_unidad(url){
      $('#unidad').load(url,function(){
          $(this).modal('show');
      });
    }

</script>

<script type="text/javascript">
  var $=jQuery.noConflict();
    function abrir_modal_edicion(url){
      $('#area').load(url,function(){
          $(this).modal('show');
      });
    }

</script>

{% endblock %}


