{% extends 'base/home.html' %}


{% load staticfiles %}

{% block contentwrapper %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->


{% endblock %}

{% block content %}



  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="{% static 'mp4/red3.mp4' %}" type="video/mp4">
  </video>
  <div class="masthead">
    <div class="masthead-bg"></div>
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 my-auto">
          <div class="masthead-content text-white py-5 py-md-0">
            <br>
            <h1 class="mb-3">Network scanner</h1>
            <p class="mb-5">Plataforma WEB NETWORKS - del Gobierno Autónomo Departamental de Potosí - Desarrollado por el Área de Sistemas.
              <strong>Febrero 2021</strong></p>
           
            


            <div id="carouselExampleInterval col-md-10" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active" data-interval="10000">
                  <img src="{% static 'img/img/pexels.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-interval="2000">
                  <img src="{% static 'img/img/pexels-cottonbro-5483077.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'img/img/worker-reading-news-with-tablet.jpg' %}" class="d-block w-100" alt="...">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>

            <br>

          


         <br>
         <br>
         <br><p></p>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="social-icons">
    <ul class="list-unstyled text-center mb-0">
      <li class="list-unstyled-item">
        <a href="https://twitter.com/potosi_gob">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li class="list-unstyled-item">
        <a href="https://www.facebook.com/GobiernoAutonomoDepartamentalDePotosi/">
          <i class="fab fa-facebook-f"></i>
        </a>
      </li>
      <li class="list-unstyled-item">
        <a href="#">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
    </ul>
  </div>






          
            

{% endblock %}

{% block footerp %}
  


{% endblock %}

