{% extends 'base/home.html' %}

{% block contenturl %}
<li class="breadcrumb-item"><a href="{% url 'equipo_crear' %}">Registrar Equipo</a></li>
<li class="breadcrumb-item"><a href="{% url 'equipo_listar' %}">Equipos Activos</a></li>
{% endblock %}

{% block content %}

<form method="post">
  {% csrf_token %}

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-7" style="margin: 0 auto;">
          <div class="card-footer clearfix">
            <!-- general form elements -->
            <div class="card card-primary"  >
              <div class="card-header" style="background-color:#00588e">
                <h3 class="card-title"></h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form >
                <div class="card-body">
                  

               
                 
          <h1> DESEA ELIMINAR EL SIGUIENTE EQUIPO?  {{ object.nombre_host }}</h1>
  
                  

                  
              
                
                  
                </div>
                <!-- /.card-body -->
  
              <div class="card-footer">
                <button class="btn btn-danger" type="submit">Si, Eliminar </button>
                <a class="btn btn-primary" href="{% url 'equipo_listar' %}">Cancelar</a>
              </div>
            </form>
          </div>
  
  </div>
  </div>
  </div>
</div>
  
  </section>
  
  
  
          
  

</form>


{% endblock %}