{% block content %}




<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title">AGREGAR AREA</h2>
      <button class="close" type="button" aria-dismiss="modal" data-dismiss="modal" area-label-="Close">
        <span aria-hidden="true">&times;</span>

      </button>

    </div>

      
                 <form action="" method="post">

                    {% csrf_token %}
        
                    {% for hidden in form.hidden_fields %}
                  
                        {{hidden}}
                  
                    {% endfor %}

                    <div class="modal-body">
                      

                      <div class="text_center">

                        <small class="text-danger">
                          {% if form.errors %}
                            {% for field in form %}
                            {% if field.errors %}
                              {% for error in field.errors %}
                                    {{ error|escape }}
                              {% endfor %}
                            {% endif %}
                            {% endfor %}
                            {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                  {{ error|escape }}
                            {% endfor %}
                            {% endif %}

                          {% endif %}
                                

                        </small>

                      </div>
                
                    
                      <div class="form-group">
                        <label for="{{ form.secretaria.id_for_label }}"
                                class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.secretaria.label}}</label>
                        <br>
                        <div class="col-sm-8">
                        
                          
                                {{ form.secretaria}}

                        </div>
                      </div>

                      <div class="form-group">
                        <label for="{{ form.nombre.id_for_label }}"
                                class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.nombre.label}}</label>
                              <br>
                            
                              <div class="col-sm-8">
                                {{form.nombre}}

                        </div>
                      </div>

                      
                      
                  


                      <div class="form-group">
                        <label for="{{ form.sigla.id_for_label }}"
                                class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.sigla.label}}</label>
                        <br>
                        <div class="col-sm-8">
                        
                          
                                {{ form.sigla}}

                        </div>
                      </div>

                      <div class="form-group">
                        <label for="{{ form.tipo.id_for_label }}"
                                class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.tipo.label}}</label>
                        <br>
                        <div class="col-sm-8">
                        
                          
                                {{ form.tipo}}

                        </div>
                      </div>

                      <div class="form-group">
                        <label for="{{ form.detalle.id_for_label }}"
                                class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.detalle.label}}</label>
                        <br>
                        <div class="col-sm-8">
                        
                          
                                {{ form.detalle}}

                        </div>
                      </div>


                      <div class="form-group">
                        <label for="{{ form.etiqueta.id_for_label }}"
                                class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.etiqueta.label}}</label>
                        <br>
                        <div class="col-sm-8">
                        
                          
                                {{ form.etiqueta}}

                        </div>
                      </div>

                      

                    
                  
                  
                

            
                      
                      
                    </div>
                    <!-- /.card-body -->
      
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" style="background-color:#00588e "><b>Enviar</b> </button>
                  </div>
                </form>
         
        </div>
      </div>


{% endblock %}
{% block selec2 %}


<script type="text/javascript">
    $(document).ready(function() {
              $('#equipos').select2({
                theme: "bootstrap4",
                
              });

    });
</script>
{% endblock %}