
{% extends 'base/home.html' %}

{% load staticfiles %}

{% block dataTable %}
<script>
        $(document).ready( function () {
            $('#perfil-detail-listar').DataTable({
                responsive: true,
                autoWidth: false,
                language:{
                    url: "{% static 'lib/datatables-1.10.20/spanish.txt' %}"
                }
            });
        } );
</script>
{%  endblock %}

{% block contenturl %}
<li class="breadcrumb-item"><a href="{% url 'perfil_crear' %}">Registrar Usuario</a></li>
<li class="breadcrumb-item"><a href="{% url 'perfil_listar' %}">Usuarios Activos</a></li>
<li class="breadcrumb-item"><a href="{% url 'perfil_listar_all' %}">Acciones</a></li>
{% endblock %}

{% block content %}


<section class="content">

    <div class="container-fluid">
        
      <div class="row">
          
        <!-- left column -->
        <div class="col-md-12" style="margin: 0 auto;">
            <div class="card-footer clearfix">
            
            <br><p></p>
          
            <!-- general form elements -->
            <div class="card card-primary" >
                
              <div class="card-header" style="background-color:#00588e ">
            
              </div>
              <!-- /.card-header -->
              <!-- form start -->

                <br>


              <div class="col-md-12">
                <!-- Widget: user widget style 1 -->
                <div class="card card-widget widget-user shadow-lg">
                  <!-- Add the bg color to the header using any of the bg-* classes -->
                  <div class="widget-user-header bg-info"
                       style="background: url(../../../static/lib/adminlte-3.1.0/img/photo1.png) center center;">
                    <h3 class="widget-user-username text-right  "  >  <h2> <b> {{ object.nombre }}  <br>{{ object.apellido }}</b></h2>  </h3>
                    <h5 class="widget-user-desc text-right"><p></p> <p></p></h5>
                  </div>
                  <div class="widget-user-image">
                      <br>
                    <img class="img-circle" src="{% static 'img/user1.jpg' %}" alt="User Avatar">
                  </div>
                  <div class="card-footer ">
                    <div class="row">
                      <div class="col-sm-4 border-right">
                        <div class="description-block">
                          <h5 class="description-header">CI</h5>
                          <span class="description-text">{{ object.ci }}</span>
                        </div>
                        <!-- /.description-block -->
                      </div>
                      <!-- /.col -->
                      <div class="col-sm-4 border-right">
                        <div class="description-block">
                          <h5 class="description-header">Correo Electronico</h5>
                          <span class="description-text">{{ object.correo }}</span>
                        </div>
                        <!-- /.description-block -->
                      </div>
                      <!-- /.col -->
                      <div class="col-sm-4">
                        <div class="description-block">
                          <h5 class="description-header">Cargo</h5>
                          <span class="description-text">{{ object.tipo }}</span>
                        </div>
                        <!-- /.description-block -->
                      </div>
                      <!-- /.col -->
                    </div>
                    <!-- /.row -->
                  </div>
                </div>
                <!-- /.widget-user -->
              </div>

              <div class="row parter" style="margin: 0 auto; align-content: center; justify-content: center;" >
                <div class="col-lg-4 ">
                  <div class="input-group">
                  <div class="col-sm-4 border-right" >
                    <a class="btn btn-primary"  style="background-color:#00588e "  href="{% url 'relacionPerfil_crear_dos' object.id %}"> <b>Agregar Equipos</b> </a>
                    <button class="btn btn-primary"  style="background-color:#00588e "  onclick=" abrir_modal_equipo('{% url 'relacionPerfil_crear' object.id%}')"> <b>Agregar Equipos</b> </button>
                  </div>
                  </div>
              
                </div>
               <p></p>
                    <div class="col-lg-4">
                      <div class="input-group">
                        <div class="col-sm-4 border-right" >
                          
                        </div>
                      </div>
                    </div>
                    
                <div class="col-lg-4">
                  <div class="input-group">
                    <div class="col-sm-4 border-right" >
                      <button class="btn btn-primary"  style="background-color:#00588e "  onclick=" abrir_modal_edicion('{% url 'red_crear' %}')"> <b>Crear Red</b> </button>
                    </div>
                    </div>
                    </div>

              </div>
     

                 
            <div style="clear:both"></div>

        <form>
            <div class="card-body">
              <table class="table table-bordered table-striped" id="perfil-detail-listar">
                  <thead>
                      <tr>
                          <td><b>#</b> </td>
                          <td><b>Usuario</b></td>
                          <td><b>Equipo</b></td>
                          <td><b>Fecha Inicio</b></td>
                          <td><b>Acciones</b></td>
                          <td><b>Asignar IP</b></td>
                      </tr>
                  </thead>
                  <tbody>
                      <h1>  </h1>
                      {% if equipo_list %}

                      {% for item in equipo_list%}
                      <tr>
                          <td>{{ item.id }}</td>
                          <td>{{ item.perfil}}</td>
                          <td>{{ item.equipos }}</td>
                          <td>{{ item.FechaInicio }}</td>
                         
                          <td>
                              <a class="btn btn-primary btn-sm" href="{% url 'relacionPerfil_edit' item.id %}"><i class="fa fa-edit "> </i></a>
                              <a class="btn btn-primary btn-danger btn-sm" href="{% url 'relacionPerfil_delete' item.id %}"><i class="fas fa-trash-alt"> </i></a>
                      
                          </td>
                          <td>
                             
                          </td>
                      
                      </tr>
                      {% endfor %}
                      {% else %}
                        
                      {% endif %}            
                  </tbody>
              </table>


          </div>
          <!-- /.card-body -->

 
    </form>


           
<div class="modal fade" id="edicion" role="dialog">
</div>

<div class="modal fade" id="equipo" role="dialog">
</div>



    <!-- /.card-body -->
    <div class="card-footer clearfix">
       

        <ul class="pager pagination pagination-sm m-0 float-right">
            <li class="page-item">{% if page_obj.has_previous %}<a class="page-link" href="?page={{ page_obj.previous_page_number}}"><h6>Previus</h6> </a>{% endif %}</li>
            <li class="page-item">{% if page_obj.has_next %}<a class="page-link" href="?page={{ page_obj.next_page_number}}"><h6>Next</h6> </a>{% endif %}</li>
          </ul>
      </div>
</div>
</div>
</div>
</div>
</div>


</section>


{% endblock %}

{% block extrajs %}
<script type="text/javascript">
  var $=jQuery.noConflict();
    function abrir_modal_edicion(url){
      $('#edicion').load(url,function(){
          $(this).modal('show');
      });
    }

</script>

<script type="text/javascript">
  var $=jQuery.noConflict();
    function abrir_modal_equipo(url){
      $('#equipo').load(url,function(){
          $(this).modal('show');
      });
    }

</script>

{% endblock %}