{% extends 'base/home.html' %}

{% block contenturl %}
<li class="breadcrumb-item"><a href="{% url 'perfil_crear' %}">Registrar Usuario</a></li>
<li class="breadcrumb-item"><a href="{% url 'perfil_listar' %}">Usuarios Activos</a></li>
<li class="breadcrumb-item"><a href="{% url 'perfil_listar_all' %}">Acciones</a></li>
{% endblock %}

{% block content %}

<form method="post">
  {% csrf_token %}

  <section class="content">
    <div class="container-fluid" >
      <div class="row" >
        <!-- left column -->
        <div class="col-md-7" style="margin: 0 auto;"  >
          <div class="card-footer clearfix" >
            <!-- general form elements -->
            <div class="card card-primary"  >
              <div class="card-header" style="background-color:#00588e ">
                <h3 class="card-title" ></h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form >
                <div class="card-body">
                  

               
                 
                  <h3> DESEA ELIMINAR EL REGISTRO DE:  </h3>
  
                  <h2> {{ object.nombre }} {{ object.apellido }}</h2>

                  
              
                
                  
                </div>
                <!-- /.card-body -->
  
              <div class="card-footer">
                <button class="btn btn-danger" type="submit">Si, Eliminar </button>
                <a class="btn btn-primary" href="{% url 'direccion_listar' %}">Cancelar</a>
              </div>
            </form>
          </div>
  
  </div>
  </div>
  </div>
</div>
  
  </section>
  
  
  
          
  
          
  

</form>


{% endblock %}