{% extends 'base/home.html' %}

{% block content %}

<form method="post">
  {% csrf_token %}
  
  {% for hidden in form.hidden_fields %}

      {{hidden}}

  {% endfor %}

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-8" style="margin: 0 auto;">
          <div class="card-footer clearfix">
            <!-- general form elements -->
            <div class="card card-primary" style="align-content: center;">
              <div class="card-header">
                <h3 class="card-title">Registro de Direcciones IP</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form>
                <div class="card-body">
                  
                  <div class="text_center">
                   
                    <small class="text-danger">
                      {% if form.errors %}
                        {% for field in form %}
                        {% if field.errors %}
                          {% for error in field.errors %}
                                {{ error|escape }}
                          {% endfor %}
                        {% endif %}
                        {% endfor %}
                        {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                               {{ error|escape }}
                        {% endfor %}
                        {% endif %}

                      {% endif %}
                            

                    </small>

                  </div> 


                  <div class="form-group">
                    <label for="{{ form.ip.id_for_label }}"
                            class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.ip.label}}</label>
                          <br>
                        
                          <div class="col-sm-12">
                            {{form.ip}}

                    </div>
                  </div>

                  <div class="form-group">
                    <label for="{{ form.puerta_enlace.id_for_label }}"
                            class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.puerta_enlace.label}}</label>
                    <br>
                    <div class="col-sm-12">
                            {{form.puerta_enlace}}

                    </div>
                  </div>
                
                  <div class="form-group">
                    <label for="{{ form.mascara.id_for_label }}"
                            class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.mascara.label}}</label>
                    <div class="col-sm-12">
                            {{form.mascara}}

                    </div>
                  </div>
                
                  
                </div>
                <!-- /.card-body -->
  
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Enviar</button>
              </div>
            </form>
          </div>
  
  </div>
  </div>
  </div>

  </div>
  </section>


</form>


{% endblock %}


