{% extends 'base/home.html' %}

{% load staticfiles %}

{% block dataTable %}
<script>
        $(document).ready( function () {
            $('#direccion-list-detail').DataTable({
                responsive: true,
                autoWidth: false
            });
        } );
</script>
{%  endblock %}

{% block content %}


<section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-8" style="margin: 0 auto;">
          <div class="card-footer clearfix">
            <a class="btn btn-primary" href="{% url 'direccion_crear' %}">Insertar Direccion</a>
            <br><p></p>
            <!-- general form elements -->
            <div class="card card-primary" >
              <div class="card-header">
                <h3 class="card-title">Lista de Direcciones IP Registradas</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form>
                <div class="card-body ">


                    <table class="table table-bordered  table-striped" id="direccion-list-detail">
                        <thead>
                            <tr>
                                <td style="width: 10px">#</td>
                           
                                <td>IP</td>
                                <td>Puerta de Enlace</td>
                                <td>Mascara</td>
                                <td>Usuario</td>
                                <td>Equipo</td>
                                <td tyle="width: 40px">Acciones</td>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% if direccion_list %}
                            {% for direccion in direccion_list %}
                            <tr>
                                <td>{{forloop.counter }}</td>
                               
                                <td>{{direccion.ip}}</td>
                                <td>{{direccion.puerta_enlace}}</td>
                                <td>{{direccion.mascara}}</td>
                                <td>{{direccion.Usuario}}</td>
                                <td>{{direccion.Equipo}}</td>
                                <td>
                                    <a class="btn btn-primary btn-sm" href="{% url 'direccion_edit' direccion.id %}"><i class="fa fa-edit "> </i>Editar</a>
                                    <a class="btn btn-primary btn-danger btn-sm" href="{% url 'direccion_delete' direccion.id %}"><i class="fas fa-trash-alt"> </i>Eliminar</a>
                                </td>
                            
                            </tr>
                            {% endfor %}
                            {% else %}
                                <h2>No hay direcciones IP Registradas</h2>

                            {% endif %}            

                        </tbody>

                    </table>

  
                </div>
                <!-- /.card-body -->

       
    </form>

      <!-- /.card-body -->
      

        <ul class="pager pagination pagination-sm m-0 float-right">
          <li class="page-item">{% if page_obj.has_previous %}<a class="page-link" href="?page={{ page_obj.previous_page_number}}"><h6>Previus</h6> </a>{% endif %}</li>
          <li class="page-item">{% if page_obj.has_next %}<a class="page-link" href="?page={{ page_obj.next_page_number}}"><h6>Next</h6> </a>{% endif %}</li>
        </ul>
      </div>
</div>


</div>


</div>


</div>



            
</section>


{% endblock %}