{% extends 'base/home.html' %}

{% load staticfiles %}

{% block dataTable %}
<script>
        $(document).ready( function () {
            $('#red_list').DataTable({
                responsive: true,
                autoWidth: false,
                language:{
                    url: "{% static 'lib/datatables-1.10.20/spanish.txt' %}"
                }
            });
        } );
</script>
{%  endblock %}

{% block contenturl %}
<li class="breadcrumb-item"><a href="{% url 'red_crear' %}">Registrar Red</a></li>
<li class="breadcrumb-item"><a href="{% url 'red_listar' %}">Redes Activas</a></li>
{% endblock %}


{% block content %}





    <!-- SEARCH FORM -->
 <!--   <div class="container">
        <div class="row">
            <div class="col-md-12 search">
                <form method="GET">
                    <div  id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input class="form-control" type="text" placeholder="Buscar..." aria-label="Search" name="buscar">
                            <span class="input-group-list">
                                <i class="icon icon-search"></i>
                                <button class="boton btn-success" type="submit" aria-label="Search"  >Buscar
                                </button>
                            </span>
                        </div>
                    </div>
                  </form>
            </div>
        </div>
    </div>

--> 

 



<section class="content">

    

    <div class="container-fluid">
        
      <div class="row">
          
        <!-- left column -->
        <div class="col-md-12" style="margin: 0 auto;">

            <div class="card-footer clearfix">
            <a class="btn btn-primary" href="{% url 'infraestructura_crear' %}" style="background-color:#00588e"><b>Agregar Nueva infraestructura</b> </a>
            <br><p></p>
            <!-- general form elements -->
            <div class="card card-primary" >
                
              <div class="card-header" style="background-color:#00588e">
                <h3 class="card-title"> <b>Lista de infraestructuras Registradas</b> </h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form  id="red_list1">
                <div class="card-body">
                    <table class="table table-bordered table-striped" id="red_list">
                        <thead>
                            <tr>
                                <td>#</td>
                               
                                <td> <b>Infraestructura</b> </td>
                                <td><b>Direccion</b></td>
                                <td><b>Detalles</b></td>
                                
                             
                                <td><b>Estructura</b></td>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% if object_list %}
                            {% for infra in object_list %}
                            <tr>
                                <td>{{forloop.counter }}</td>
                                
                                <td>{{ infra.nombre }}</td>
                                <td>{{ infra.direccion }}</td>
                                <td>{{ infra.detalle }}</td>
                                
                           

                                <td>
                                    <a class="btn btn-primary btn-warning btn-sm " href="{% url 'infraestructura_detail_list' infra.id  %}"><i class=" fa fa-eye"> </i>  Vista</a>
                                    
                                </td>
                         
                                
                            
                            </tr>
                            {% endfor %}
                            {% else %}
                                

                            {% endif %}            

                        </tbody>

                    </table>

  
                </div>
                <!-- /.card-body -->

       
    </form>

    <!-- /.card-body -->
    <div class="card-footer clearfix">
       

        <ul class="pager pagination pagination-sm m-0 float-right">
            <li class="page-item">{% if page_obj.has_previous %}<a class="page-link" href="?page={{ page_obj.previous_page_number}}"><h6>Previus</h6> </a>{% endif %}</li>
            <li class="page-item">{% if page_obj.has_next %}<a class="page-link" href="?page={{ page_obj.next_page_number}}"><h6>Next</h6> </a>{% endif %}</li>
          </ul>
      </div>
</div>

</div>
</div>
</div>
</div>

</section>


{% endblock %}